<div class="authform col-lg-8">
  <%= form_for(@profile) do |f| %>
      <%= display_error_messages(@profile) %>
      <fieldset>
        <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, rows: "5", class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :bio %>
          <%= f.text_area :bio, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :education_level %><br>
          <%= f.select :education_level,
                       Profile.education_levels.keys.map { |level| [level.titleize, level] }, {}, class: 'form-control custom' %>
        </div>
        <div class="form-group">
          <%= f.label :phone_number %>
          <%= f.number_field :phone_number, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :summary_of_projects %>
          <%= f.text_area :summary_of_projects, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :skills, :class => 'col-lg-6 control-label' %>
          <%= f.text_field :skills, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :department_id, :class => 'col-lg-6 control-label' %><br>
          <%= f.collection_select(:department_id, Department.all, :id, :name, {}, {class: "form-control custom"}) %>
        </div>
        <div class="form-group">
          <strong>Research Fields:<br></strong>
          <%= link_to 'Edit Research Fields', profile_research_fields_path, class: 'pull-right btn btn-default btn-xs' %>
          <% @profile.profile_research_fields.each_with_index do |profile_research_field, index| %>
              <%= profile_research_field.research_field.category %>
              <% if index != @profile.profile_research_fields.length-1%>, <% end %>
          <% end %>
        </div>
      </fieldset>

      <%= f.submit 'Submit', :class => 'btn btn-lg btn-primary' %>
  <% end %>
</div>