<h1 class="col-lg-9">My Profile
  <% if @profile == current_user.profile %>
      <%= link_to 'Edit my profile', edit_profile_path(@profile), class: 'btn btn-primary btn-sm pull-right' %>
  <% end %>
</h1>
<div class="jumbotron box m-t-10 col-lg-9">

 <div class="row m-t-10">
    <div class="col-lg-4 col-sm-12 col-xs-12">
      <strong>First Name</strong>
    </div>
    <div class="col-lg-1 hidden-xs">
      :
    </div>
    <div class="col-lg-7 col-sm-12 col-xs-12">
      <%= @profile.first_name %>
    </div>
  </div>
 <div class="row m-t-10">
    <div class="col-lg-4 col-sm-12 col-xs-12"> 
      <strong>Last name</strong>
    </div>
    <div class="col-lg-1 hidden-xs">
      :
    </div>
    <div class="col-lg-7 col-sm-12 col-xs-12">
      <%= @profile.last_name %>
    </div>
  </div>
 <div class="row m-t-10">
    <div class="col-lg-4 col-sm-12 col-xs-12"> 
      <strong>Bio</strong>
    </div>
    <div class="col-lg-1 hidden-xs">
      :
    </div>
    <div class="col-lg-7 col-sm-12 col-xs-12">
      <%= @profile.bio %>
    </div>
  </div>
 <div class="row m-t-10">
    <div class="col-lg-4 col-sm-12 col-xs-12"> 
      <strong>Education Level</strong>
    </div>
    <div class="col-lg-1 hidden-xs">
      :
    </div>
    <div class="col-lg-7 col-sm-12 col-xs-12">
      <%= @profile.education_level.titleize %>
    </div>
  </div>
  <% if current_user.faculty? or @profile == current_user.profile %>
     <div class="row m-t-10">
        <div class="col-lg-4 col-sm-12 col-xs-12"> 
          <strong>Phone number</strong>
        </div>
        <div class="col-lg-1 hidden-xs">
          :
        </div>
        <div class="col-lg-7 col-sm-12 col-xs-12">
          <%= number_to_phone(@profile.phone_number, area_code: true) %>
        </div>
      </div>
  <% end %>
 <div class="row m-t-10">
    <div class="col-lg-4 col-sm-12 col-xs-12"> 
      <strong>Summary of projects</strong>
    </div>
    <div class="col-lg-1 hidden-xs">
      :
    </div>
    <div class="col-lg-7 col-sm-12 col-xs-12">
      <%= @profile.summary_of_projects %>
    </div>
  </div>
 <div class="row m-t-10">
    <div class="col-lg-4 col-sm-12 col-xs-12"> 
      <strong>Skills</strong>
    </div>
    <div class="col-lg-1 hidden-xs">
      :
    </div>
    <div class="col-lg-7 col-sm-12 col-xs-12">
      <%= @profile.skills %>
    </div>
  </div>

 <div class="row m-t-10">
    <div class="col-lg-4 col-sm-12 col-xs-12"> 
      <strong>Department</strong>
    </div>
    <div class="col-lg-1 hidden-xs">
      :
    </div>
    <div class="col-lg-7 col-sm-12 col-xs-12">
      <%= @profile.department.name %>
    </div>
  </div>
 
 <% if @profile.profile_research_fields %>
 <div class="row m-t-10">
    <div class="col-lg-4 col-sm-12 col-xs-12"> 
      <strong>Research Fields</strong>
    </div>
    <div class="col-lg-1 hidden-xs">
      :
    </div>
    <div class="col-lg-7 col-sm-12 col-xs-12">
      <% @profile.profile_research_fields.each_with_index do |profile_research_field, index| %>
        <%= profile_research_field.research_field.category %><% if index != @profile.profile_research_fields.length - 1 %>, <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
</div>