<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Education level:</strong>
  <%= @profile.education_level.titleize %>
</p>

<% if current_user.faculty? or @profile == current_user.profile %>
  <p>
    <strong>Phone number:</strong>
    <%= @profile.phone_number %>
  </p>
<% end %>

<p>
  <strong>Summary of projects:</strong>
  <%= @profile.summary_of_projects %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @profile.skills %>
</p>

<p>
  <strong>Research Fields:<br></strong>
  <% @profile.profile_research_fields.each do |profile_research_field| %>
    <% if profile_research_field.profile == current_user.profile %>
      <%= profile_research_field.research_field.category %><br>
    <% end %>
  <% end %>
</p>

<% if @profile == current_user.profile %>
  <%= link_to 'Edit my profile', edit_profile_path(@profile) %> | 
<% end %>
<%= link_to 'Back to my profile', profile_path(current_user.profile) %>
