<br>
<br>
<br>
<br>
<br>
<br>
<br>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Education level:</strong>
  <%= @profile.education_level %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @profile.phone_number %>
</p>

<p>
  <strong>Summary of projects:</strong>
  <%= @profile.summary_of_projects %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @profile.skills %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
