<p id="notice"><%= notice %></p>

<h1>Listing Profile Research Fields</h1>

<table>
  <thead>
  <tr>
    <th>Research Field</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @profile_research_fields.each do |profile_research_field| %>
      <tr>
        <td><%= profile_research_field.research_field.category %>
        <% if profile_research_field.profile != current_user.profile %>
          <td><%= link_to 'Add Research Field', new_profile_research_field_path %></td>
        <% else %>
          <td><%= link_to 'Remove Research Field', profile_research_field, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile research field', new_profile_research_field_path %>
