<h1>My Tasks</h1>
<div class="m-t-25">
  <div class="pull-right">
    <%= link_to 'Create New Task', new_task_path, class: 'btn btn-success btn-lg' %>
  </div>

  <ul class="nav nav-pills">
    <li role="presentation" class="<%= (params[:status] == nil) ? '' : 'active' %>active"><a href="?">All</a></li>
    <% Task.statuses.keys.map do |status| %>
        <li role="presentation" class="<%= (params[:status] == status) ? 'active' : '' %>">
          <a href="?status=<%= status %>"><%= status.titleize %></a></li>
    <% end %>
  </ul>
</div>
<table class="table table-striped m-t-25">
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Iteration</th>
      <th>Description</th>
      <th>Status</th>
      <th>Assigned user</th>
      <th>Due date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>

        <td><%= task.description %></td>
        <td><%= task.status %></td>
        <td><%= task.assigned_user %></td>
        <td><%= task.due_date %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @tasks, renderer: BootstrapPagination::Rails %>
