<h1>My Requests</h1>

<div class="m-t-25">
  <ul class="nav nav-pills">
    <li role="presentation" class="<%= (params[:type] == nil) ? '' : 'active' %>active"><a href="?">All</a></li>
    <% Request.request_types.keys.map do |type| %>
        <li role="presentation" class="<%= (params[:type] == type) ? 'active' : '' %>">
          <a href="?type=<%= type %>"><%= type.titleize %></a></li>
    <% end %>
  </ul>
</div>
<h3><%= @total_requests_count != 0 ? ('Showing ' + pluralize(@total_requests_count, 'request') + ' found:') : 'No Requests found!' %> </h3>
<% @requests.each do |request| %>
    <div class="jumbotron box m-t-25">
      <div class="row">
        <div class="col-lg-3">
          <strong>Project Name</strong>
        </div>
        <div class="col-lg-1">
          <strong>:</strong>
        </div>
        <div class="col-lg-6">
          <div><%= Project.find(request.project_id).name %></div>
        </div>
      </div>
      <% if request.user_id == current_user.id %>
          <div class="row">
            <div class="col-lg-3">
              <strong>Founding Member:</strong>
            </div>
            <div class="col-lg-1">
              <strong>:</strong>
            </div>
            <div class="col-lg-3">
              <div><%= Project.find(request.project_id).user.profile.first_name + ' ' + Project.find(request.project_id).user.profile.last_name %></div>
            </div>
            <div class="col-lg-5">
              <br>
            </div>
          </div>
      <% end %>

      <% if request.user_id != current_user.id %>
          <div class="row">
            <div class="col-lg-3">
              <strong>Requested by</strong>
            </div>
            <div class="col-lg-1">
              <strong>:</strong>
            </div>
            <div class="col-lg-3">
              <div><%= User.find(request.user_id).profile.first_name + ' ' + User.find(request.user_id).profile.last_name %></div>
            </div>
            <div class="col-lg-1 text-right">
            </div>
            <div class="col-lg-2 text-right">
              <% if request.user_id != current_user.id && request.status != Request.request_statuses[:approved] && request.status != Request.request_statuses[:rejected]%>
                  <%= link_to 'APPROVE', take_request_action_path(request, "approve"), data: {confirm: 'Are you sure?'}, :method => :post, class: 'btn btn-danger btn-sm text-inline' %>
              <% end %>
            </div>
            <div class="col-lg-2">
              <% if request.user_id != current_user.id && request.status != Request.request_statuses[:approved] && request.status != Request.request_statuses[:rejected] %>
                  <%= link_to 'REJECT', take_request_action_path(request, "reject"), data: {confirm: 'Are you sure?'}, :method => :post, class: 'btn btn-success btn-sm text-inline' %>
              <% end %>
            </div>
            <div class="col-lg-1">
            </div>
          </div>
      <% end %>
      <div class="row">
        <div class="col-lg-3">
          <strong>Request Type</strong>
        </div>
        <div class="col-lg-1">
          <strong>:</strong>
        </div>
        <div class="col-lg-3">
          <div><%= Request.request_types.keys[request.type].titleize %></div>
        </div>
        <div class="col-lg-5">
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <strong>Current Status</strong>
        </div>
        <div class="col-lg-1">
          <strong>:</strong>
        </div>
        <div class="col-lg-3">
          <div><%= Request.request_statuses.keys[request.status].titleize %></div>
        </div>
        <div class="col-lg-5">
          <br>
        </div>
      </div>
      <% if request.status == Request.request_statuses[:approved] || request.status == Request.request_statuses[:rejected] %>
          <div class="row">
            <div class="col-lg-3">
              <strong><%= Request.request_statuses.keys[request.status].titleize %> about</strong>
            </div>
            <div class="col-lg-1">
              <strong>:</strong>
            </div>
            <div class="col-lg-3">
              <div>
                <%= time_ago_in_words(request.updated_at).humanize %> ago
              </div>
            </div>
            <div class="col-lg-5">
              <br>
            </div>
      </div>
      <% end %>

    </div>
<% end %>
<%= will_paginate @requests, renderer: BootstrapPagination::Rails %>
