<%= form_for(@contribution) do |f| %>
    <%= display_error_messages(@project) %>

    <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="field">
    <%= f.label :money_received %><br>
    <%= f.number_field :money_received %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
