<p id="notice"><%= notice %></p>

<p>
  <strong>Project Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Iteration Name:</strong>
  <%= @iteration.name %>
</p>


<div class="m-t-25">
  <h2 class="text-inline">Iteration Tasks</h2>
  <% if @iteration.project.status != "complete" %>
      <div class="pull-right text-inline">
        <%= link_to 'Create New Task', new_iteration_tasks_path(@iteration), class: 'btn btn-success btn-lg' %>
      </div>
  <% end %>
</div>

<table class="table table-striped col-lg-9">
  <thead>
  <tr>
    <th>ID</th>
    <th>Task Name</th>
    <th>Status</th>
    <th>Due Date</th>
    <th>Assigned To</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @counter = 1 %>
  <% @tasks.each do |task| %>
      <tr>
        <td><%= @counter %></td>
        <td><%= task.name %></td>
        <td><%= task.status.titleize %></td>
        <td><%= task.due_date.to_formatted_s(:long_ordinal) %></td>
        <% @assigned_user_profile = User.find(task.assigned_user) %>
        <td><%= @assigned_user_profile.profile.first_name %></td>
        <td>
          <% if task.user_id == current_user.id || task.assigned_user == current_user %>
              <% if @iteration.project.status != "complete" %>
                  <%= link_to 'View', task_path(task), class: 'btn btn-default btn-xs' %>

                  <%= link_to 'Edit', edit_iteration_task_path(task.iteration_id, task), class: 'btn btn-default btn-xs' %>
                  <%= link_to 'Delete', task_path(task, :iteration_id => task.iteration_id), method: :delete, data: {confirm: 'Are you sure?'}, :iteration_id => task.iteration_id, class: 'btn btn-default btn-xs' %>
              <% end %>
          <% else %>
              <%= link_to 'View', task_path(task), class: 'btn btn-default btn-xs' %>
          <% end %>
        </td>
      </tr>
      <% @counter = @counter + 1 %>
  <% end %>
  </tbody>
</table>


<div class="clearfix"></div>
<nav class="col-lg-9">
  <ul class="pager">
    <li><%= link_to 'Edit', edit_project_iteration_path(@project, @iteration) %></li>
    <li><%= link_to 'Back', project_path(@project) %></li>
  </ul>
</nav>