<p id="notice"><%= notice %></p>

<h1>Listing Project Research Fields</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_research_fields.each do |project_research_field| %>
      <tr>
        <td><%= link_to 'Show', project_research_field %></td>
        <td><%= link_to 'Edit', edit_project_research_field_path(project_research_field) %></td>
        <td><%= link_to 'Destroy', project_research_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project research field', new_project_research_field_path %>
