<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="active">
      <%= link_to raw('<span class="fa fa-tachometer"></span> Dashboard'), dashboard_path, :class => current_class?(dashboard_path) %>
    </li>
    <li>
      <%= link_to raw('<span class="fa fa-search"></span> Search Projects'), search_interesting_projects_path, :class => current_class?(search_interesting_projects_path) %>
    </li>
    <li>
      <%= link_to raw('<span class="fa fa-briefcase"></span> My Projects'), projects_path, :class => current_class?(projects_path)  %>
    </li>
    <li>
      <%= link_to raw('<span class="fa fa-tasks"></span> My Tasks'), tasks_path, :class => current_class?(tasks_path)  %>
    </li>
    <li>
      <a href="#"><span class="fa fa-bullseye"></span> My Requests</a>
    </li>
    <li>
      <%= link_to raw('<span class="fa fa-money"></span> My Contributions'), contributions_path, :class => current_class?(contributions_path) %>
    </li>
  </ul>
</div>
<!-- /#sidebar-wrapper -->